/* Special thanks for the grid layout guidance and resources to: 
- https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout

Color Scheme: 
#F0F7D4
#B2D732
#4424D6
#FC600A
#110934
*/

body {
display: grid;
grid-gap: 10px;
font-family: sans-serif;
background-color: white; /* hsl(60, 100%, 50%) */
color: #110934;
}

header, main, footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.one {
grid-column: 1 / 1;
grid-row: 1;
background-color: #B2D732;
}
.two { 
grid-column: 4 / 4;
grid-row: 1;
}
/* Navbar */
.three {
background-color: #110934; /* hsl(0, 100%, 0%) */
color: #F0F7D4;
grid-column: 1 / 5;
grid-row: 1;
position: sticky;
top: 0;
z-index: 2;
}

.hero-image {
grid-column: 1 / 5;
grid-row: 2 / 6;
}

.four {
grid-column: 1 / 3;
grid-row: 6 / 10;
}
.five {
grid-column: 3 / 5;
grid-row: 6 / 10;
}
.six {
grid-column: 1 / 5;
grid-row: 1;
background-color: #110934;
color: #F0F7D4;
}

.hero-image {
background-image: url("../img/futureImage.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
font-size: 130%;
color: black;
position: absolute;
bottom: 10%;
left: 5%;
}

section {
background-color: #F0F7D4;
}


/* Subpages */

.article {
grid-column: 1 / 5;
grid-row: 2 / 8;
}

.article-wrapper {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-gap: 10px;
grid-auto-rows: minmax(100px, auto);
}

.article-wrapper article {
background-color: white;
grid-column: 2 / 12;
grid-row: 1 / 8;
}